---
type: C4 Component
title: Macro user email verification
status: stable
groma:
  id: macro-user-email-verification
  parent: macro
  code:
    - scanner: rust
      file: crates/macro_db_client/src/macro_user_email_verification.rs
  group: Macro db client
---
